body{
margin: 0px;
padding: 0px;
}

#main{
width: 25%;
background-color:#fff;
border-radius: 15px;
position: absolute;
top:20%;
left: 50%;
transform: translate(-50%,-50%);
z-index: 999;
display: inline-grid;
}

#player{
padding: 25px;
color:#333;
}

#songTitle{
width:300px;
text-align: center;
font-family: monospace;
font-size: 18px;
position: absolute;
top:64%;
left: 50%;
transform: translate(-50%,-50%);
}

#buttons{
height: 50px;
width: 100%;
margin-top: 50px;
position:relative;
top:10%;
left: 50%;
transform: translate(-50%,-50%);
padding-top: 20px;
}

#play,#next,#pre{
width: 50px;
height: 50px;
border: 0;
background-color: #E8D8CF;
border-radius: 50%;
outline: none;
cursor: pointer;
position: absolute;
top:0%;
left: 50%;
transform: translate(-50%,-50%);
}

#next{
width: 30px;
height: 30px;
left: 70%;
}

#pre{
width: 30px;
height: 30px;
left: 30%;
}

#play img{
position: absolute;
top:50%;
left: 50%;
transform: translate(-50%,-50%);
}

#seek-bar{
width: 250px;
height: 5px;
background-color:gray;
display: flex;
border-radius: 50px;
margin-left: 25px;
cursor: pointer;
}

#fill{
height: 5px;
background-color: #E8D8CF;
border-radius: 20px;
}

#handle{
width: 8px;
height: 8px;
background-color: #E8D8CF;
border-radius: 50%;
margin-left: -5px;
transform: scale(2);
}

.style {
display: inline-grid;
}

.style2 {
display: inline-grid;
position: absolute;
}








